---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout primaryTitle="About">
  <section class="archive">
    <div class="section-content section-tag">
      <div class="archive-tag">
        <h2 class="tag-header">How About</h2>
        <div class="tag-post-list">
          
<p>123</p>
 
</BaseLayout>
