---
import { SITE_TITLE } from "../consts";
---


<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="/en-us" class="nav-title">{SITE_TITLE}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="/en-us_archive" class="nav-item-content">Archive</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="/en-us-Tags" class="nav-item-content">Tags</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
