---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="item-title">WIKI</div>
            <a href="https://wiki.gentoo.org/wiki" target="_blank">Gentoo</a>
            <a href="https://wiki.archlinux.org/" target="_blank">Arch</a>
            <a href="https://wiki.xenialinux.com/en/latest/" target="_blank">Xenia</a>
            <a href="https://tails.net/doc/index.en.html" target="_blank">Tails</a>
            <a href="https://www.whonix.org/wiki/Documentation" target="_blank">Whonix</a>
            <a href="https://www.qubes-os.org/doc/" target="_blank">Qubes</a>

          </div>

          <div class="item products">
            <div class="item-title">Crack</div>
            <a href="https://rsload.net" target="_blank">Rsload</a>
            <a href="https://lrepacks.net" target="_blank">lrepacks</a>
            <a href="https://www.52pojie.cn/" target="_blank">52Pojie</a>
            <a href="https://softoroom.org/" target="_blank">softaroom</a>
            <a href="https://diakov.net/" target="_blank">Diakov</a>

          </div>

          <div class="item products">
            <a ="/" target="_blank"></a>
            <a ="/" target="_blank"></a>

            <a href="https://github.com/tqgx/tqgx.github.io/new/main/src/pages/posts" target="_blank">🔴</a>
            <a href="https://github.com/tqgx/tqgx/upload/main/TQGX" target="_blank">Photo</a>
            <a href="mailto:lilyjones1999@hotmail.com" target="_blank">Email</a>
            <a href="/rss.xml" target="_blank">RSS</a>
            <a href="https://github.com/tqgx" target="_blank">Github</a>
            <a href="https://github.com/tqgx/OpenTools" target="_blank">OpenTools</a>





            
            
          </div>

          <div class="item community">
            <div class="item-title">For Privacy</div>
            <a href="https://Piped.video" target="_blank">Piped</a>
            <a href="https://yewtu.be" target="_blank">Invideous</a>
            <a href="https://browserleaks.com/ip" target="_blank">TEST IP</a>

            <a ="/" target="_blank"></a>
            <div class="item-title">For Knowledge</div>
            <a href="https://bard.google.com/chat" target="_blank">Google Bard</a>
            <a href="https://you.com/search?q=請用中文和我對話&fromSearchBar=true&tbm=youchat" target="_blank">You.com</a>
            <a href="https://www.bing.com/new?icid=mscom_marcom_H1a_BingAI" target="_blank">New Bing</a>


            
            <a ="/" target="_blank"></a>
            <div class="item-title">For Translation</div>
            <a href="https://fanyi.youdao.com/indexLLM.html" target="_blank">Youdao</a>
            <a href="https://www.bing.com/translator" target="_blank">Microsoft Bing</a>
            <a href="https://translate.yandex.ru/?from=tabbar&source_lang=zh&target_lang=ru&text=%E8%B2%93" target="_blank">Yandex</a>
            <a href="https://translate.google.com/?hl=zh-TW" target="_blank">Google Translation</a>

            


          </div>

          <div class="item resources">
            <div class="item-title">Links</div>
            <a href="https://xgqt.gitlab.io/">XGQT BLOG</a>
            <a href="https://ivonblog.com/">Ivon BLOG</a>
            <a href="https://xenialinux.com/">Xeina BLOG</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        
                <div class="copyright">
                  <span style="font-size: 13px; color: #6E6F3;">
                    Welcome to my blog! <a href="https://github.com/tqgx/tqgx.github.io">Github.io</a> or <a href="https://github.com/austin2035/astro-air-blog">blog theme</a> See here is how I made it

                          <hr style="width: 100%; height: 0.20px; background-color: #D2D2D7; margin-top: 10px;">
                  <span style="font-size: 12.5px; color: #6E6F3;">
            Copyright &copy; {`${year}  ${SITE_NAME}`}. All rights reserved.ㅤㅤ⁠
          </span>
          <a href="https://tqgx.github.io/posts/2/" style="color: black;">Make Website</a>|<a href="https://tqgx.github.io/posts/2023-09-18-%E7%9C%9F%E6%AD%A3%E7%9A%84%20Portable%20%E8%BB%9F%E4%BB%B6%E8%A3%BD%E4%BD%9C%E2%80%94TurboStudio/" style="color: black;">Make Portable</a>|<a href="https://tqgx.github.io/archive/" style="color: black;">Archive</a>|<a href="https://tqgx.github.io/posts/18/" style="color: black;">Make Xenia</a>|<a href="https://github.com/tqgx/OpenTools" style="color: black;">OpenTools</a>ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠ㅤ⁠<a href="https://tqgx.github.io/" style="color: black;">BLOG</a>

     

        </div>
      </div>
    </div>
  </div>
</div>
