---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="item-title">WIKI</div>
            <a href="https://wiki.gentoo.org/wiki" target="_blank">Gentoo</a>
            <a href="https://wiki.archlinux.org/" target="_blank">Arch</a>
            <a href="https://wiki.xenialinux.com/en/latest/" target="_blank">Xenia</a>
            <a href="https://tails.net/doc/index.en.html" target="_blank">Tails</a>
            <a href="https://www.whonix.org/wiki/Documentation/" target="_blank">Whonix</a>
            <a href="https://www.qubes-os.org/doc/" target="_blank">Qubes</a>

          </div>

          <div class="item products">
            <div class="item-title">Crack</div>
            <a href="https://rsload.net" target="_blank">Rsload</a>
            <a href="https://lrepacks.net" target="_blank">lrepacks</a>
            <a href="https://www.52pojie.cn/" target="_blank">52Pojie</a>
            <a href="https://softoroom.org/" target="_blank">softaroom</a>
            <a href="https://diakov.net/" target="_blank">Diakov</a>

          </div>

          <div class="item products">
            <div class="item-title"></div>
            <a ="/" target="_blank"></a>
            <a href="/" target="_blank">🔴</a>
            <a href="https://github.com/tqgx" target="_blank">Github</a>
            <a href="https://github.com/tqgx/OpenTools" target="_blank">OpenTools</a>
            <a href="mailto:lilyjones1999@hotmail.com" target="_blank">Email</a>
            <a href="https://github.com/tqgx/tqgx/upload/main/TQGX" target="_blank">Photo</a>
            <a href="/rss.xml" target="_blank">RSS</a>



            
            
          </div>

          <div class="item community">
            <div class="item-title">Tools</div>
            <a href="https://Piped.video" target="_blank">Piped</a>
            <a href="https://yewtu.be" target="_blank">Invideous</a>
            <a href="https://central.bitdefender.com/devices?service=add_trial&code=34291885-79d4-4ba6-bf01-30b0d6bdd0a1 " target="_blank">Bitdefender 30 Days Trial</a>
            <a href="https://bard.google.com/chat" target="_blank">Google Bard</a>
            <a href="https://browserleaks.com/ip" target="_blank">IP TEST</a>
            <a href="https://fanyi.youdao.com/indexLLM.html#/" target="_blank">Youdao</a>
            <a href="https://www.deepl.com/translator" target="_blank">Deepl</a>

          </div>

          <div class="item resources">
            <div class="item-title">Links</div>
            <a href="https://xgqt.gitlab.io/">XGQT BLOG</a>
            <a href="https://ivonblog.com/">Ivon BLOG</a>
            <a href="https://xenialinux.com/">Xeina BLOG</a>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`2023-${year}  ${SITE_NAME}`} 
        </div>
      </div>
    </div>
  </div>
</div>
